@use  '../variables' as *;
@use  '../mixins' as *; 
@use  '../responsive' as *;

.about {
    background-color: $section-secondary;
    padding: 200px 0;
    text-align: center;
    p {
        margin: 0 100px;
        padding-bottom: 40px;
        @include tablet {
            margin: 0 25px;
        }
    }
}