@use  '../variables' as *;
@use  '../mixins' as *; 
@use  '../responsive' as *;

.gallery {
    padding: 75px 0;
    ul {
        display: flex;
        justify-content: space-between;
        padding: 0;
        li {
            flex-basis: 30%;
            img {
                width: 100%;
            }
        }
    }
}