@use  '../variables' as *;
@use  '../mixins' as *; 
@use  '../responsive' as *;


nav {
    @include font-size(20px);
    line-height: 29px;
    letter-spacing: 1px;
    ul {
        display: flex;
        justify-content: flex-end;
        width: 100%;  
        margin-top: 0;
        padding-top: 30px;
        li {
            margin-left: 50px;
        }
        a:hover, a:focus {
            border-bottom: 2px solid $link-hover;
            padding-bottom: 5px;
        }
    }
}

//responsive nav styling
//mobile hamburger menu
.mobile-menu {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    @include tablet {
        display: flex;
    }
    .fa-bars {
        color: $text-color;
    }
}
//mobile responsive hide nav
.desktop-nav {
    @include tablet {
        display: none;
        padding: 0;
        margin: 0;
    }
}

.mobile-open {
    display: flex;
    .fa-solid {
        position: absolute;
        z-index: 1;
    }
    .mobile-closed {
        display: block;
    }
    ul {
        @include mobile {
            flex-direction: column;
            text-align: right;
        }
    }
}

.mobile-closed {
    display: none;
}
