@use  '../variables' as *;
@use  '../mixins' as *; 
@use  '../responsive' as *;

.read-more {
    display: flex;
    justify-content: space-between;
    @include tablet {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 25px;
    }
    .image-left {
        box-shadow: 3em 3em 0 $box-shadow;
        @include tablet {
            box-shadow: 1em 1em 0 $box-shadow;
        }
    }
    .image-right {
        box-shadow: -3em 3em 0 $box-shadow;
        @include tablet {
            box-shadow: 1em 1em 0 $box-shadow;
        }
    }
    .image-section {
        flex-basis: 40%;
        position: relative;
        &.section-right {
            bottom: -50px;
            @include tablet {
                bottom: 0;
            }
        }
        &.section-left {
            top: -50px;
            @include tablet {
                bottom: 0;
                top: -25px;
            }
        }
    }
    .text-section {
        flex-basis: 40%;
        display: flex;
        flex-direction: column;
        @include tablet {
            align-items: center;
            justify-content: center;
            text-align: center;
            margin: 0 50px;
        }
        button {
            margin-top: 10px;
        }
        &.section-right {
            padding: 50px 100px 0 0;
            align-items: flex-start;
            @include tablet {
                align-items: center;
                justify-content: center;
                text-align: center;
                padding: 0;
            }
        }
        &.section-left {
            padding: 50px 0 0 100px;
            align-items: flex-end;
            @include tablet {
                align-items: center;
                justify-content: center;
                text-align: center;
                padding: 0;
            }
        }
    }
    img {
        width: 100%;
        height: auto;
    }
    &.right-read-more {
        @include tablet {
            flex-direction: column-reverse;
        }
    }
}