@use  '../variables' as *;
@use  '../mixins' as *; 

.read-more {
    display: flex;
    justify-content: space-between;
    .image-left {
        box-shadow: 3em 3em 0 $box-shadow;
    }
    .image-right {
        box-shadow: -3em 3em 0 $box-shadow;
    }
    .text-section {
        &.section-right {
            padding: 100px 100px 0 0;
        }
        &.section-left {
            padding: 100px 0 0 100px;
        }
    }
    .image-section {
        flex-basis: 40%;
        position: relative;
        &.section-right {
            bottom: -50px;
        }
        &.section-left {
            top: -50px;
        }
    }
    .text-section {
        flex-basis: 40%;
    }
    img {
        width: 100%;
        height: auto;
    }
}