@use './variables' as *;
@use  './mixins' as *;

.great-locations {
    .great-locations-text {
        padding: 50px;
        box-shadow: -0.5em 0.5em 0 $box-shadow;
        margin: 0 2.5em 0 -2.5em;
    }
    .header-blog-post-image {
        z-index: 0;
        right: 0;
        box-shadow: -3em 3em 0 $box-shadow;
        margin: 0;
        width: 100%;
        height: auto;
    }
    .blog-title {
        margin-bottom: 15px;
    }
    .blog-date {
        margin: 0;
        padding-bottom: 50px;
    }
}

.blog-contact-main-body {
    padding-top: 100px;
    display: flex;
    .side-info {
        flex-basis: 30%;
        position: relative;
        margin-right: 195px;
        .side-info-text {
            background-color: $section-primary;
            padding: 425px 25px 0 25px;
            margin-left: 150px;
        }
        .side-blog-image {
            width: 95%;
            position: absolute;
            top: -25px;
        }
        .blog-about {
            padding-bottom: 25px;
        }
        .blog-recent-posts {
            padding-bottom: 15px;
        }
    }
    .blog-page-content {
        flex-basis: 70%;
        width: 100%;
        position: relative;
        top: -450px;
    }
}


//adjusted h3 styling since font is smaller than indicated on style guide
.blog-h3 {
    font-size: 25px;
}

//recent posts list bullet styling
.blog-post-list {
    li::before {
        content: "\2022";  
        color: $bullet-color; 
        font-weight: bold; 
        display: inline-block; 
        width: 1em; 
        margin-left: -2.5em;
        padding-right: 1.5em;
      }
}

a {
    text-decoration: none;
    &:visited {
        color: $text-color;
    }
}