$box-shadow: #FDFA69;
$button: #4CEEA7;
$round-icon: #4CEEA7;
$bullet-color: #4CEEA7;
$form-border: #4CEEA7;
$link-hover: #4CEEA7;
$text-color: #2C2C2C;
$section-primary: #FAFAFA;
$section-secondary: #EFFDF3;


