// Setup
@use 'setup';
@use 'commons';

// Partials
@use './partials/nav';
@use './partials/headers';
@use './partials/about';
@use './partials/read-more';
@use './partials/links-section';

// Pages
@use 'contact';
@use 'blog';

